header {
  background-color:#808097;
  display: flex;
  align-items: center;
  padding-left: 70px;
  margin-bottom: 40px;
  height: 200px;
  color: #0b0c0e;
}

.footer-clean {
  padding:50px 0;
  background-color:#808097;
  color:#0b0c0e;
}


body{
    background-color: rgb(190, 201, 218);
}

.fill{
  text-align: center;
}